<?xml version='1.0' encoding='utf-8' ?>
<config>
	<menu>
		<name>open cmd here...</name>
		<match>
            <number>1</number>
			<type>dir</type>
		</match>
		<command>cmd.exe /K "cd /d %s"</command>
	</menu>
    <menu>
        <name>send to localhost:8787 ...</name>
        <match>
            <number>1</number>
            <type>file</type>
            <pattern>(\.json|\.gsl)$</pattern>
        </match>
        <command>balabala...</command>
    </menu>
	<menu>
		<name>Open Target Dir...</name>
		<match>
			<number>1</number>
			<type>link</type>
		</match>
		<command>explorer /e,/select,%s</command>
	</menu>
</config>
